/*
 * Globals
 */

body, html {
    height: 100%;
}


/*
 * Base structure
 */

.cover-container {
    max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.y-color {
    color: rgb(32, 82, 148);
}

.join-btn {
    background-color: white;
    border: 0;
    color: #333;
    padding: 10px 16px;
}

.join-btn:hover {
    background-color: rgb(32, 82, 148);
    color: white;
}


/*
 * Main
 */

.all-prom-text {
    
    padding-top: 20%;
    
    
    
}

.prom-text {
    font-size: 30px;
}

.prom-text-big {
    font-size: 100px;
}

.img-slide-strength {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("Picture-1.jpg");
    background-size: cover;
    background-position: center;
}

.img-slide-bodyshape {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("Picture-2.jpg");
    background-size: cover;
    background-position: center;
}

/*
 * Slides
 */

.slides {
    width: 200%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 100%;
    height: 100%;
    transition: 2s;
}

.slide .img-slide-strength {
    height: 100%;
}

.slide .img-slide-bodyshape {
    height: 100%;
}

.head-slides {
    position: absolute;
    width: 100%;
    margin-top: 1rem!important;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    transition: 0.1s;
    user-select: none;
}

.next {
    right: 0;
}


#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -100%;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}